.book img {
    width: 16em;
    padding-right: 1em;
    aspect-ratio: 256 / 393;
}

.book {
    margin-bottom: 1.5em;
}

.currently-reading {
    font-weight: lighter;
    font-size: large;
    line-height: 1em;
}
.book-title {
    margin-top: 0.1em;
    font-weight: bold;
    font-size: x-large;
    line-height: 1em;
}
.author {
    margin-top: 0.1em;
    font-weight: normal;
    font-size: x-large;
    line-height: 1em;
}
.published {
    margin-top: 0.1em;
    font-weight: normal;
    font-size: large;
    line-height: 1em;
}

.book a {
    color: #000000;
}