.book img {
    max-width: 200px;
    min-width: 200px;
    min-height: 200px;
    margin-right: 10px;
    margin-bottom: 5px;     
}

.currently-reading {
    font-weight: lighter;
    font-size: large;
    margin-bottom: -7px;
}
.book-title {
    font-weight: bold;
    font-size: x-large;
    margin-bottom: -10px;
}
.author {
    margin-top: 0px;
    font-weight: normal;
    font-size: x-large;
    margin-bottom: -5px;
}
.published {
    margin-top: 0px;
    font-weight: normal;
    font-size: large;
    margin-bottom: 0px;
}

.book {
    margin-bottom: 20px;
}

.book a {
    color: #000000;
}