.reading-percentage {
    color: #dddddd;
    font-style: italic;
}

.intro-bg {
    min-height: calc(100vh - 15em);
    background-image: url("/assets/home/index_bg_lq.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    margin-bottom: 3em;
}

span.dacubeking {
    display: inline-block;
    margin-top: 10px;
}

.intro-title {
    font-family: 'Dancing Script', serif;
    font-weight: 700;
}

@media screen and (min-width: 800px) {
    .inner-intro {
        padding-left: 5em;
        padding-bottom: calc(14vh + 2em);
    }
    .intro-title {
        font-size: 5em;
    }
    .intro-boarder {
        height: 14vh;
    }
}

@media screen and (max-width: 799px) {
    .inner-intro {
        padding-left: 1em;
        padding-right: 1em;
        align-content: center;
        padding-bottom: calc(9vh + 2em);
    }
    .intro-title {
        font-size: 4em;
    }
    .intro-boarder {
        height: 9vh;
    }
}

.inner-intro {
    min-height: inherit;
    padding-top: 2em;
    vertical-align: middle;
    max-width: 40em;
    a {
        color: #cef0fd;
        text-decoration: none;

        &:visited {
            color: #a7e3fb;
        }

        &:hover {
            color: white;
            text-decoration: underline;
        }
    }
}

.intro {
    min-height: inherit;
    position: relative;
    max-width: 60em;
    margin-right: auto;
    margin-left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    color: white;
    z-index: 1;
}

.intro::after {
    content: "";
    position: absolute;
    height: 100%;
    inset: 0;
    z-index: -1;
    backdrop-filter: brightness(60%) blur(5px);
    mask: linear-gradient(
            to right,
            #000000FF 40em,
            #000000F7 42em,
            #000000E6 44em,
            #000000A6 48em,
            #00000059 52em,
            #0000001A 56em,
            #00000008 58em,
            #00000000 60em
    );
}

.intro-boarder {
    position: absolute;
    width: 100%;
    bottom: -1px;
    z-index: 3;
    min-width: 800px;
}

.post-title {
    margin-bottom: 1em;
}