.reading-percentage {
    color: #dddddd;
    font-style: italic;
}

:root {
    --trans-blue: #5BCEFA;
    --trans-pink: #F5A9B8;
}

.intro-bg {
    min-height: calc(100vh - 22em);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

span.dacubeking {
    display: inline-block;
    margin-top: 10px;
}

@property --rotation { /* coral/orange */
    syntax: '<angle>';
    inherits: false;
    initial-value: 70deg;
}

.intro-title {
    font-family: 'Dancing Script', serif;
    font-weight: 1000;
    /* Here, we design a gradient that repeats seamlessly by repeating the first color at the end */
    background-image: repeating-linear-gradient(in oklab var(--rotation),
            var(--trans-pink),
            var(--trans-blue),
            var(--trans-pink),
            var(--trans-blue),
            var(--trans-pink) 95%

    );
    background-repeat: no-repeat;
    /* Expand the background size to give room for movement */
    background-size: 200% 200%;
    -webkit-background-clip: text; /* For Chrome/Safari */
    background-clip: text;
    color: transparent;
    padding-bottom: 2rem;
    backdrop-filter: opacity(70%);

    /* Use a continuous scrolling animation */
    animation: scrollingGradient 20s linear infinite, gradientRotation 100s linear infinite;
}

@keyframes scrollingGradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes gradientRotation {
    0% {
        --rotation: 0deg
    }
    50% {
        --rotation: 180deg
    }
    100% {
        --rotation: 360deg
    }
}



@media screen and (min-width: 800px) {
    .intro-bg {
        min-height: calc(100vh - 22em);
    }
    .inner-intro {
        padding-left: 5em;
        padding-bottom: calc(14vh + 2em);
        padding-top: 5em;
    }
    .intro-title {
        font-size: 5em;
    }
    .intro-boarder {
        height: 14vh;
    }

}

@media screen and (max-width: 800px) {
    .intro-bg {
        min-height: calc(100vh - 16em);
    }
    .inner-intro {
        align-content: center;
        padding: 2em 1em calc(9vh + 2em);
        justify-self: center;
    }
    .intro-title {
        font-size: 4em;
    }
    .intro-boarder {
        height: 9vh;
    }
}

.inner-intro {
    min-height: inherit;
    vertical-align: middle;
    max-width: 45em;
    a {
        color: #cef0fd;
        text-decoration: none;

        &:visited {
            color: #a7e3fb;
        }

        &:hover {
            color: white;
            text-decoration: underline;
        }
    }
}

.intro {
    min-height: inherit;
    position: relative;
    max-width: 70em;
    margin-left: 0;
    height: 100%;
    color: white;
    z-index: 1;
    display: grid;
    font-size: 1.1em;
}

.intro::after {
    content: "";
    position: absolute;
    height: 100%;
    inset: 0;
    z-index: -1;
    backdrop-filter: brightness(60%) blur(5px);
    --fade-off-start: 48em;
    mask: linear-gradient(
            to right,
            #000000FF calc(var(--fade-off-start) + 0em),
            #000000F7 calc(var(--fade-off-start) + 2em),
            #000000E6 calc(var(--fade-off-start) + 4em),
            #000000A6 calc(var(--fade-off-start) + 8em),
            #00000059 calc(var(--fade-off-start) + 12em),
            #0000001A calc(var(--fade-off-start) + 16em),
            #00000008 calc(var(--fade-off-start) + 18em),
            #00000000 calc(var(--fade-off-start) + 20em)
    );
}

.intro-boarder {
    position: absolute;
    width: 100%;
    bottom: -1px;
    z-index: 3;
    min-width: 800px;
}

.post-title {
    margin-bottom: 1em;
}

p + ul {
    margin-top: -0.8em;
}

p + li {
    margin-top: -0.8em;
}

.social-media-list {
    .svg-icon {
        display: inline-block;
        vertical-align: middle;
    }
    .username {
        display: inline-block;
        vertical-align: middle;
    }
}