hr {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Post navigation links */
.post_navi {
  display: flex;
}

.post_navi-label {
  font-size: 0.8em;
  opacity: 0.5;
}

.post_navi .post_navi-item {
  padding: 0 2.2em;
  width: 50%;
  position: relative;
  color: inherit !important;
}

.post_navi .nav_prev {
  text-align: left;
}

.post_navi .nav_next {
  text-align: right;
}

.post_navi .nav_prev .post_navi-arrow {
  left: 0;
}

.post_navi .nav_next .post_navi-arrow {
  right: 0;
}

.post_navi .post_navi-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  opacity: 0.3;
}

body {
  font-family: "Noto Sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.note-text-rendered {
  max-width: 9.5em;
  box-sizing: content-box;
  font-family: 'Indie Flower', serif;
  font-size: 1.4em;
  line-height: 0.85;
  margin-top: 1.2em;
  margin-bottom: 0.8em;
}

.note-text-wide-rendered {
  width: 14em;
  box-sizing: content-box;
  font-family: 'Indie Flower', serif;
  font-size: 1.4em;
  line-height: 0.85;
  margin-top: 1.2em;
  margin-bottom: 0.8em;
  overflow-x: visible;
}

.hidden {
  display: none;
}

.post-content h1 {
  font-size: 38px;
}
@media screen and (max-width: 800px) {
  .post-content h1 {
    font-size: 34px;
  }
}

.post-content h1:hover,h2:hover,h3:hover,h4:hover,h5:hover,h6:hover {
  .headingLink {
    visibility: visible;
    text-decoration: none;
    color: rebeccapurple;
  }
}

.headingLink {
  display: inline-block;
  font-size: 0.8em;
  vertical-align: middle;
  visibility: hidden;
  padding-right: 0;
  padding-bottom: 0.2em;
  margin-right: 0;
  padding-left: 0.5em;
  text-decoration: none;
  color: rebeccapurple;
  font-weight: bold;
}

blockquote p {
  margin-bottom: 0.2em;
}

.trans {
  font-weight: 520;
  color: transparent;
  background: linear-gradient(in oklab 55deg, var(--trans-blue) 0 7%, var(--trans-pink) 13% 18%, white 24% 26%, var(--trans-pink) 32% 37%, var(--trans-blue) 43% 45%, white 50%);
  background-repeat: no-repeat;
  background-clip: text;

  background-size: 220% 100%;
  transition: background-position 0.6s ease, font-weight 0.6s ease;
}

.trans:not(:hover) {
  background-position: 100% 100%;
}

:root {
  --trans-blue: #5BCEFA;
  --trans-pink: #F5A9B8;
}

.trans:hover {
  font-weight: 550;
  background-position: 0% 100%;
  transition: background-position 0.8s ease, font-weight 0.6s ease;
}


