<!DOCTYPE html>

{%- include head.html -%}

<head>
    <link rel="preload" href="/css/index.css" as="style" fetchpriority="high">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preload" href="/cf-fonts/v/dancing-script/5.0.16/latin/wght/normal.woff2" as="font" type="font/woff2" crossorigin="anonymous" fetchpriority="high">
    <link rel="preload" href="https://books.api.dacubeking.com/currentlyreading" crossorigin="anonymous" as="fetch" fetchpriority="high">
    <link rel="preload" href="/assets/home/20241126-APC_0013_lq.avif" as="image" fetchpriority="high">
</head>

<html lang="{{ page.lang | default: site.lang | default: 'en' }}">



<body>
<div class="intro-bg" id="intro-bg" style="margin-bottom: 3em; background-image: url('/assets/home/20241126-APC_0013_lq.avif')">
    <div class="intro-bg" id="intro-bg-2" >
        <div class="intro">
            <div class="inner-intro">
                <div>
                    <p class="intro-title" style="line-height: 0.8">
                        <span class="dacubeking">Hey there!</span>
                        <span class="dacubeking">
                          <span class="dacubeking">I'm</span>
                          <span class="dacubeking">Da​Cube​King.</span>
                        </span>
                    </p>
                    <p style="margin-top: -0.1em">That's my pen name, but in the real world, people call me <span class="trans">Adalie</span>.</p>
                </div>
                <p></p>
                <p>
                    I'm a 20-year-old college student from Los Angeles, California,
                    learning <strong>Computer Science</strong> and <strong>Math</strong>.
                    When I'm not coding up a storm or doing homework,
                    you might catch me behind a camera, editing videos,
                    or exploring the artistic world through photography.
                </p>
                <p>
                    Back in high school,
                    I was the programming lead for my First Robotics team.
                    I built award-winning robots,
                    including one that helped us secure a division win at Worlds.
                    I also ventured into the YouTube realm,
                    crafting Minecraft videos that gave my creative side the spotlight.
                </p>
                <p>
                    Now? Life's a mix of hobbies, projects, and curiosity.
                </p>
                <ul>
                    <li>🌟
                        <strong>Tinkering</strong> with code led me to create
                        <a href="https://github.com/varun7654/varun7654.github.io">this site</a> and a bunch of other
                        <a href="/2022/12/01/My-Programming-Projects.html">projects</a>.
                    </li>
                    <li>🎥
                        <strong>Video editing</strong> and storytelling scratch my creative itch.
                    </li>
                    <li style="min-height: 3em">📚
                        <strong>And Reading!</strong>
                        <span id="currentlyReading" aria-live="polite">Loading current read...</span>
                        My full reading list is <a href="/reading">here</a>.
                    </li>
                </ul>
                <p>
                    When I'm not geeking out over tech or reading, I’m probably:
                </p>
                <ul>
                    <li>
                        <strong>Watching</strong> a TV show, movie, or a lecture on how to render a million blades of grass in real time.
                        I've thoroughly enjoyed watching
                        <a href="https://tv.apple.com/us/show/severance/umc.cmc.1srk2goyh2q2zdxcx605w8vtx">Severance</a>,
                        and when watching movies tend to either watch rom-coms or action/thriller movies.
                    </li>
                    <li><strong>Gaming!</strong> I just finished <a href="https://www.alanwake.com/">Alan Wake 2</a>
                        a while ago and am now climbing through the C-Sides of <a href="https://www.celestegame.com/">Celeste</a>.
                        When I eventually get tired of dying over and over and over again, I'll switch to
                        <a href="https://store.steampowered.com/app/1888930/The_Last_of_Us_Part_I/">The Last of Us Part 1</a>.
                        Also, <a href="https://dynmap.dacubeking.com/">Minecraft</a> and
                        <a href="https://playvalorant.com/">Valorant</a> remain my trusty go-to’s.
                    </li>
                    <li><strong>Vibing to some music! </strong><span id="favoriteSong" aria-live="polite">Loading favorite song...</span></li>
                    <li><strong>Writing!</strong> Occasionally I'll get the itch to write, and you'll find the fruits of that below.
                    </li>

                </ul>
                <p>
                    Curiosity fuels everything I do—exploring the "why" behind things,
                    discovering the joy of new ideas, and turning them into something real.
                </p>
                <p>
                    Anyways, if you're reading this, why not follow me on
                    <a href="https://bsky.app/profile/adalie.me">Bluesky</a>?
                    Feel free to take a peek around,
                    and if you’re curious about what makes me tick, this site holds the answers.
                    🌐
                </p>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 62" class="intro-boarder" preserveAspectRatio="none">
            <path fill="#fdfdfd" d="M 446.349 44.811 C 470.785 44.262 496.544 41.664 518.252 30.431 C 529.372 24.677 500.553 51.817 500.553 51.817 L 501.752 78.734 L -5.254 79.103 C -5.254 79.103 -13.948 10.919 -6.084 27.481 C -1.033 38.118 10.642 46.901 22.308 48.498 C 44.472 51.531 64.693 26.197 84.993 24.531 C 119.724 21.68 140.63 62.776 181.969 60.667 C 218.623 58.797 254.41 28.156 290.376 20.844 C 341.923 10.364 393.761 45.992 446.349 44.811 Z"></path>
        </svg>
    </div>
    <script>
      /** @typedef {object} homepageInfo
       * @property {object} favoriteTrack
       * @property {object} favoriteTrack.streamable
       * @property {string} favoriteTrack.streamable.fulltrack
       * @property {string} favoriteTrack.streamable.#text
       * @property {string} favoriteTrack.mbid
       * @property {string} favoriteTrack.name
       * @property {object[]} favoriteTrack.image
       * @property {string} favoriteTrack.image.size
       * @property {string} favoriteTrack.image.#text
       * @property {object} favoriteTrack.artist
       * @property {string} favoriteTrack.artist.url
       * @property {string} favoriteTrack.artist.name
       * @property {string} favoriteTrack.artist.mbid
       * @property {string} favoriteTrack.url
       * @property {string} favoriteTrack.duration
       * @property {object} favoriteTrack.@attr
       * @property {string} favoriteTrack.@attr.rank
       * @property {string} favoriteTrack.playcount
       * @property {object[]} readingBooks
       * @property {string} readingBooks.name
       * @property {string} readingBooks.link
       * @property {string[]} readingBooks.authors
       * @property {string[]} readingBooks.authorLinks
       * @property {string} readingBooks.published
       * @property {string} readingBooks.coverLink
       * @property {string} readingBooks.workId
       * @property {string} readingBooks.list
       * @property {string} readingBooks.pages
       * @property {string} readingBooks.percentComplete
       */


      function combineList(list) {
        let out = '';
        // combine all the elements into a nicely formatted string with commas and an "&"
        // be sure not to add "&" if there is only one element in the list
        for (let i = 0; i < list.length; i++) {
          if (i === 0) {
            out += list[i];
          } else if (i === list.length - 1) {
            out += " & " + list[i];
          } else {
            out += ", " + list[i];
          }
        }
        return out;
      }
      fetch(
        'https://books.api.dacubeking.com/homepageinfo',
        {priority: 'high'}
      ).then(function (response) {
        // When the page is loaded, convert it to text
        /**
         * @type Promise<homepageInfo>
         */
        let json = response.json();
        return json;
      }).then(function (json) {
        if (json.readingBooks.length > 0) {
          let booksList = json.readingBooks.map((book) => {
            const percentComplete = book.percentComplete;

            return `<a href="${book.link}">${book.name}</a> by ${combineList(
                book.authors
            )} <span class="reading-percentage">(${Math.round(
                percentComplete * 100
              )}% done!)</span>`;
          });
          document.getElementById("currentlyReading").innerHTML = "Currently, I'm reading " + combineList(booksList) + ".";
        } else {
          document.getElementById("currentlyReading").textContent = "";
        }

        if (json.favoriteTrack) {
          let track = json.favoriteTrack;
          document.getElementById("favoriteSong").innerHTML = `
            My current favorite is <a href=${track.url}>${track.name}</a> by <a href=${track.artist.url}>${track.artist.name}</a>.
          `
        }


      })
      document.getElementById("intro-bg-2").style.backgroundImage = "url('/assets/home/20241126-APC_0013.avif')"
    </script>
</div>


<main class="page-content" aria-label="Content">
    <div class="wrapper">
        <div class="home">

            <div class="post-title">
                Blog Posts:
            </div>
            <p></p>
            {% if site.paginate %}
            {% assign posts = paginator.posts %}
            {% else %}
            {% assign posts = site.posts %}
            {% endif %}


            {%- if posts.size > 0 -%}
            {%- if page.list_title -%}
            <h2 class="post-list-heading">{{ page.list_title }}</h2>
            {%- endif -%}
            <ul class="post-list">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                {%- for post in posts -%}
                <li>
                    <span class="post-meta">{{ post.date | date: date_format }}</span>
                    <h3>
                        <a class="post-link" href="{{ post.url | relative_url }}">
                            {{ post.title | escape }}
                        </a>
                    </h3>
                    {%- if site.show_excerpts -%}
                    {{ post.excerpt }}
                    {%- endif -%}
                </li>
                {%- endfor -%}
            </ul>

            {% if site.paginate %}
            <div class="pager">
                <ul class="pagination">
                    {%- if paginator.previous_page %}
                    <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{
                        paginator.previous_page }}</a></li>
                    {%- else %}
                    <li>
                        <div class="pager-edge">•</div>
                    </li>
                    {%- endif %}
                    <li>
                        <div class="current-page">{{ paginator.page }}</div>
                    </li>
                    {%- if paginator.next_page %}
                    <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page
                        }}</a></li>
                    {%- else %}
                    <li>
                        <div class="pager-edge">•</div>
                    </li>
                    {%- endif %}
                </ul>
            </div>
            {%- endif %}

            {%- endif -%}

        </div>
    </div>
</main>

{%- include footer.html -%}
</body>

</html>